.circle-bottom-right {
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    width: 150px;
    height: 150px;
    border-radius: 300px;
    opacity: 0.5;
    background: #0077B6;
    filter: blur(150px);
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.logo {
    color: #FFF;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    text-decoration: none;
}

.grid-layout {
    display: grid;
    grid-template-columns: 100px;
    padding: 20px;
}

.navbar1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    width: calc(100vw - 60px);
}

.breadcrumb {
    color: #0077B6;
    font-size: 18px;
    font-family: Inter;
    font-weight: 300;
}

.content-layout {
    width: 95vw;
}

.headline1 {
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: -1px;
}

.arrayservers {
    display: grid;
    grid-template-columns: repeat(auto-fit, 363px);
    grid-auto-flow: dense;
    grid-gap: 20px;
}

.servercomp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 363px;
    height: 120px;
    border-radius: 20px;
    background: #1D1D1D;
}

.servercomp-pic {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: aquamarine;
    top: 20px;
    left: 20px;
}

.servercomp-titleandbuttons {
    position: grid;
    grid-template-rows: 1fr 1fr;
}

.servercomp-servername {
    position: relative;
    width: 243px;
    height: 30px;
    top: 17px;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 33px;
}

.servercomp-buttons {
    position: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.servercomp-control {
    display: relative;
    padding: 15px 15px;
    margin-right: 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #0077B6;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    box-shadow: inset 0 0 0 1px #0077B6;
}

.servercomp-control:hover {
    color: #FFF;
    background: linear-gradient(180deg, #2E97CE 0%, #0077B6 100%);
}

.servercomp-remove {
    display: relative;
    padding: 15px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(255, 50, 50);
    font-size: 18px;
    font-family: Inter;
    font-weight: 200;
    box-shadow: inset 0 0 0 1px rgb(255, 50, 50);
}

.servercomp-remove:hover {
    color: #FFF;
    background-color: rgb(255, 50, 50);
}

.servercomp-add {
    display: relative;
    padding: 15px 91px;
    border-radius: 10px;
    text-decoration: none;
    color: #0077B6;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    box-shadow: inset 0 0 0 1px #0077B6;
}

.servercomp-add:hover {
    color: #FFF;
    background: linear-gradient(180deg, #2E97CE 0%, #0077B6 100%);
}

.logout-layout {
    display: grid;
    grid-template-rows: 1fr 5fr;
    text-align: right;
}

.logout-spacing {
    margin-bottom: 1px;
}

.logout-button {
    display: relative;
    padding: 13px 40px;
    text-decoration: none;
    color: #0077B6;
    font-size: 18px;
    font-family: Inter;
    box-shadow: inset 0 0 0 1px #0077B6;
    border-radius: 20px;
}

.logout-button:hover {
    color: #FFF;
    background: linear-gradient(180deg, #2E97CE 0%, #0077B6 100%);

}