* {
  margin: 0;
  padding: 0;
}

input {
  all: unset;
}

.body-color {
  background-color: black;
}

.container {
  display: flex;
  padding: 25px;
}

.crop-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 50px);
  gap: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
