.music-controller {
  width: 100%;
  height: 100%;
}

.player-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 25px;
}

/*** Player ***/

.music-player {
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  border-radius: 15px;
}

.channels-search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 25px;
}

/*** Channels ***/

.channels {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 280px;
  min-height: 70px;
  gap: 15px;
}

.channel-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  border-radius: 15px;
}

.channel-select:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.channel-icon {
  margin-left: 25px;
}

.channel-name {
  display: flex;
  font-family: "inter", sans-serif;
  font-size: 16px;
  margin-left: 10px;
  color: #636363;
}

.channel-dropdown-icon {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

.channel-join {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  background-color: #2f2f2f;
  border-radius: 15px;
}

.channel-join:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

/*** Search ***/

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 25px 0px;
  background-color: #1f1f1f;
  border-radius: 15px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  min-height: 60px;
  padding: 0px 25px;
  background-color: #2f2f2f;
  border-radius: 15px;
}

.search-icon {
  margin-left: auto;
  width: 32px;
}

.search-bar-input {
  width: 100%;
  color: rgb(198, 198, 198);
  font-family: "inter", sans-serif;
}

.search-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 350px);
  overflow: auto;
}

.search-items::-webkit-scrollbar {
  background-color: #1f1f1f;
}

.search-items::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 15px;
}

.search-result-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  min-height: 70px;
  margin-top: 15px;
  background-color: #2f2f2f;
  border-radius: 15px;
}

.search-result-item:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.search-result-item-picture {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-left: 15px;
  background-color: #636363;
}

.search-result-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-family: "inter", sans-serif;
  gap: 5px;
}

.search-result-item-title {
  color: #c8c8c8;
  font-size: 18px;
}

.search-result-item-author {
  color: #7f7f7f;
  font-size: 12px;
}

.search-result-item-add {
  margin-left: auto;
  margin-right: 15px;
}
