.menu {
  display: flex;
  flex-direction: row;
  min-height: 70px;
  gap: 25px;
}

/*** Guild Select ***/

.guild-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  min-width: 280px;
  height: 100%;
  background-color: #2f2f2f;
  border-radius: 15px;
}

.guild-select:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

.guild-picture {
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  border-radius: 15px;
  background-color: #636363;
}

.guild-name {
  display: flex;
  font-family: "inter", sans-serif;
  font-size: 16px;
  margin-left: 10px;
  color: #636363;
}

.guild-dropdown-icon {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

.guild-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  width: 22.5%;
  background-color: #2f2f2f;
  border-radius: 15px;
  padding: 10px;
  z-index: 1;
}

.guild-dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  border-radius: 15px;
  text-decoration: none;
}

.guild-dropdown-item:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

.guild-dropdown-item-image {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #636363;
  margin-left: 10px;
}

.guild-dropdown-item-name {
  font-family: "inter", sans-serif;
  font-size: 16px;
  margin-left: 10px;
  color: #636363;
}

/*** Menu ***/

.menu-section {
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  border-radius: 15px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.user-picture {
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 15px;
  background-color: #636363;
}
